.home {

  .bio {
    font-family: 'Imprima', sans-serif;
    font-size: 1.3rem;
    text-align: right;
    margin-right: 5%;
    margin-top: 5%;
  }

  #contact {
    text-decoration: underline;
  }

  #initials {
    font-family: 'Archivo Black', sans-serif;
    font-size: 18rem;
    position: fixed;
    left: 10%;
    top: 17%;
  }

  #title {
    font-family: 'Signika', sans-serif;
    font-size: 4rem;
    position: fixed;
    left: 33%;
    top: 44%;
  }

  #menu {
    // position: fixed;
    width: 10%;
    margin-top: 7%;
    margin-left: 51.5%;
  }

  .dropdown-content {
    position: relative;
  }

}