.home #initials {
  font-family: 'Archivo Black', sans-serif;
  font-size: 18rem;
  position: fixed;
  left: 10%;
  top: 17%; }

.home #title {
  font-family: 'Signika', sans-serif;
  font-size: 4rem;
  position: fixed;
  left: 33%;
  top: 43%; }
